MONGODB_URI=mongodb+srv://<username>:<password>@policymarket.r1fric0.mongodb.net/?appName=policymarket
MONGODB_DB_NAME=elections_2026
NOMINATIM_USER_AGENT=policy_market_elections_app
REQUESTS_TIMEOUT=30
RATE_LIMIT_DELAY=1.5
