MONGODB_URI=mongodb+srv://<carsonmoore13>:<*********>@policymarket.r1fric0.mongodb.net/?appName=policymarket
MONGODB_DB_NAME=policymarket
NOMINATIM_USER_AGENT=policy_market_elections_app
REQUESTS_TIMEOUT=30
RATE_LIMIT_DELAY=1.5
